.videos_container{
    width:1200px;
    margin: auto;
    /* border:1px solid red; */
}
.latest_news{
    width:100%;
    height:25px;
    /* border:1px solid red; */
}
.latest_news>h4{
    margin-left:22px;
    margin-top:4px;
}
.video_type{
    width:100%;
    /* border:1px solid red; */
    height:230px;
    display: flex;
}
.video_type1{
    /* border:1px solid red; */
    width:25%;
    height:100%;
}
.video_type_img{
    height:80%;
    width: 98%;
    /* border:1px solid red; */
}
.video_type_img>img{
    width:100%;
    height:100%;
}
.video_type1>p{
    margin-top:0px;
}